{% comment %}
Creates a breadcrumb from the page's URL
{% endcomment %}
<section class="relative sm:py-12 sm:pb-12">
        <article class="main flex flex-wrap lg:items-top mx-auto md:max-w-expBody justify-between relative px-4 mb-12"><p>Do you know how much an outage could cost your business? Use this downtime calculator to help you measure the business impact of a potential IT disaster. Then, explore Expedient's <a href="/services/disaster-recovery/" target="_blank">Disaster Recovery solutions</a> to learn how we enable continuous business operations and workload mobility by providing resources anywhere you need them – between our data centers or your location and ours.</p></article>
<iframe width="300" height="150" style="width: 100%;" id="zertoDownTimeIframe" src="https://www.zerto.com/parts/downtime-calculator.php?pkey=RXhwZWRpZW50" scrolling="no" frameborder="0"></iframe><script src="https://www.zerto.com/parts/includes/iframeResizer.min.js"></script><script>// <![CDATA[
    window.onload=function() {iFrameResize({},'#zertoDownTimeIframe');}
    // ]]></script>
</section>